altgraph
asgiref==3.6.0
beautifulsoup4==4.11.2
Django
django-bootstrap4
django-environ
django_debug_toolbar
future
gunicorn
macholib
Pillow
six
soupsieve
sqlparse
mysqlclient
python-telegram-bot==13.1