@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");            
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


.container {
    display: flex;
    width: 100vw;
    height: 60%;
    /* padding: 5%; */
    margin: 3% auto;
    /* border: 5px solid black; */
    justify-content: center;
    align-items: center;
}

.about {
    width: 90%;
    margin: 5%;
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: 5px solid black; */
    animation: fadeIn 1.5s ease-in-out forwards;
}

.myImage {
    display: flex;
    flex-direction: row;
    flex-wrap: no;
    padding: 2%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.myImage img {
    width : 15vw;
    height: 15vw;
    border-radius: 5vw;
    object-fit: cover;
    margin : 10%;
    box-shadow: 0 0 10px 3px rgb(50, 50, 50);
    /* border: 1px solid black; */
}

.info {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin : 5%;
}

.name{    
    /* border: 1px solid black; */
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-brands, .fa-envelope {
    margin: 10px;
}

/* .info p {
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:767px) {    
    .container{
        width: 95vw;
        height: 75vh;
        border: 1px solid black;
    }
    
    .name{
        font-size: 3rem;
        border: 1px solid black;
        padding: 2%;
    }
    
    .links{
        border: 1px solid black;
        flex-direction: column;
        font-size: 12px
    }
    
    .about{
        border: 1px solid blue;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .myImage img{
        border: 1px solid black;
        width : 22vh;
        height: 22vh;
        
    }
    
    .myImage {
        border: 1px solid black;
        margin: 3%;
    }

    .info{
        margin: 3%;
        display: flex;

    }
}