@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");            
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
    font-family: 'Pretendard';
    
}

.buttons {
    margin-top: 10px;
}

.btn a {
    text-decoration: none;
    color: white;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#typeit{
    text-align: left;
    font-family: 'Tilt Warp', cursive;
    font-size: 6rem;
}


h6:hover{
    background: black;
    color: aliceblue;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* @media (max-width:767px) {    

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 0;
        height : calc((100 * var(--vh)) - var(--navbar-height));
    }
    
    .main-photos{
        display: none;
    }
    
    .intro{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .intro h1{
        animation: fadeIn 1.5s ease-in-out forwards;
    }
    
    .intro p{
        font-size: 1.3em;
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay: 2s;
    }
} */