@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");            

* {
    font-family: 'Pretendard';
    
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    /* margin : 2vh; */
    box-sizing: border-box;
    margin: 0 5vh;
    height : calc((100 * var(--vh)) - var(--navbar-height));
}

.intro{
    width: 50%;
    margin: 3vh;
    /* padding: 5vh */
    /* border: 1px solid black; */
}

.intro h1{
    font-size: 2.3em;
    font-weight: 700;
    color: black;
    /* text-shadow: 1px 1px gray; */
    /* border: 3px solid black; */
    margin-bottom: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

.intro p{
    /* border: 1px solid black; */
    font-size: 1.2em;
    font-weight: 500;
    line-height: 130%;        
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2s;
}

.main-photos {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    /* height : calc(100vh - 60px - 12vh); */
    width: 50vw;
    height: auto;
    margin: 3vh;

    object-fit: cover;
    
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s;

    border: 2px solid black;
}

.main-photos img {
    display: flex;
    text-align: center;    
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    /* max-width: 100%; */
    /* max-height: calc(100vh - 60px - 12vh); */
    max-height: calc(100vh - 60px - 12vh);
}

.buttons_div {
    display: flex;
    justify-content: space-around;
    padding: 10%;
}

h6 {
    display: flex;
    width: 40%;
    height: 30px;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 2s;
}

h6:hover{
    background: black;
    color: aliceblue;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:767px) {    

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 0;
        height : calc((100 * var(--vh)) - var(--navbar-height));
    }
    
    .main-photos{
        display: none;
    }
    
    .intro{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .intro h1{
        animation: fadeIn 1.5s ease-in-out forwards;
    }
    
    .intro p{
        font-size: 1.3em;
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
        animation-delay: 2s;
    }
}