@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");

* {
    font-family: "Pretendard";
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #6f829b;
    padding: 30px 30px;
}   


.navbar-menu {
    display: flex;
    flex-direction: row;
    margin: 10px;
    
    font-size: 15px;
    text-decoration: none;
    color : white;
    list-style : none;
}
.navbar-menu a:hover {
    background-color: rgb(69, 75, 81);
    border-radius: 10px;
}

.navbar-menu a {
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    padding : 3px 10px;
}
.navbar-logo {
    height: 100%;
    width: auto;
}

.navbar-logo a img{
    width: 10%; 
    margin: 2%;
}
.navbar-logo a{
    text-decoration: none;
    color: inherit;
}

.navbar-logo h1{
    color: azure;
}

.navbar-btn { 
    display: none;
}