@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");

* {
    font-family: "Pretendard";
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #6f829b;
    padding: 30px 30px;
}   

.navbar-logo {
    width: 10%;
}

.navbar-logo a img {
    width: 100%;
    margin: 15% 30%;
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    /* margin: 0px; */
    padding: 10px;
}

.navbar-menu a:hover{
    background-color: #59677b;
    border-radius: 1rem;
}