{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">    <meta charset="UTF-8">

    <!-- metadata Opengraph -->
    
    {% comment %} <meta property="og:url" content="cignography.github.io"> {% endcomment %}
    <meta property="og:title" content="CiGNography">
    <meta property="og:type" content="website">
    <meta property="og:description" content="작품을 감상해보세요">
    <meta property="og:image" content= "{% static 'opengraph.jpg'%} ">
    <link rel="stylesheet" type="text/css" href="{% static "header.css" %}">

    <!-- metadata -->
    <title>CiGNography</title>
    
    <!-- BOOTSTRAP  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>