
.container{
    margin-top: 20px;
}

.container div {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    object-fit: cover;
}

.container img {
    width: 100%;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.container img:hover {
    transform: scale(1.05);
    transition: 0.15s ease-in-out;
}

.container img:not(:hover) {
    transform: scale(1);
    transition: 0.15s ease-in-out;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}