.container {
    padding: 3%;
    width: 80%;
    border: 1px solid black;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 10px 20%;
    padding : 2%;
    
    /* border: none; */
}

.info{
    /* border: 1px solid black; */
    padding: 5px
    
}

.delete-btn{
    display: flex;
    align-items: center;
    margin: 10px;
    /* border: 1px solid black; */
}

.writer {
    font-weight: bold;
}

.create-messages {
    margin: 30px;
}

.date {
    padding-top: 6px;
    font-size: 10px;
}

.material-symbols-outlined {
    color: lightcoral;
    
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
    
}

@media (max-width:767px) {    
    .container {
        width: 100%;
        /* border: 1px solid blue; */
    }
}