.container {
    margin-top: 3%;
    width: 50%;
    border: 1px solid black;
}

/* .comments {
    display: flex;
} */

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 10px 20%;
    padding : 2%;

    /* border: none; */
}

.info{
    /* border: 1px solid black; */
    padding: 5px
    
}

.delete-btn{
    display: flex;
    align-items: center;
    margin: 10px;
    /* border: 1px solid black; */
}

.writer {
    font-weight: bold;
}

.create-messages {
    margin: 30px;
}

.date {
    padding-top: 6px;
    font-size: 10px;
}
/* .comments {
    display: flex;
    justify-content: center;
} */

.material-symbols-outlined {
    color: lightcoral;

    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48

}
