{% extends 'base.html' %} 
{% load static %}

{% block link %}
    <link rel="stylesheet" href = {% static "list.css" %}>
{% endblock link %}

{% block content %}

<html>
    {% if photo_list %}
        <div class="container">
            {% for image in photo_list %}
            <a href="{% url 'photoapp:detail' pk=image.pk %}">
                {% include 'photoapp/snippets/card.html' with image=image %}
            </a>
            {% endfor %}
        </div>
        
    {% else %}
        <div>
            No Images
        </div>
    
    {% endif %}

    {% include 'photoapp/snippets/pagination.html' with page_obj=page_obj %}
    {% if request.user.is_superuser %}

    <div style='text-align: center;'>
        <a href="{% url 'photoapp:create'%}" class="btn btn-dark rounded-pill col-6 mt-3">
            Create Image
        </a>
    </div>

    {% endif %}
    <script src="{% static 'js/magicgrid.js'%}"></script>

</html>

{% endblock %}
